
@import url("https://use.fontawesome.com/37471687aa.js");

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 900px) {
.intro-container-fluid {
  min-width: 50%;
}

  .column, .column1 {
    flex: 70%;
    min-width: 70%;
  }

  section {
      display: flex;
    }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 600px) {

.intro-container-fluid {
  margin:0 auto;
  width: 70%;
  }

.navlist a {
    float: none;
    width: 100%;
  }

.column {
    width: 70%;
  }

section {
    padding: 1rem 3rem;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen (max-width: 400px) {
  .header a {
      float: none;
      display: block;
      text-align: center;
      position: relative;
}

/* nav ul li { */
       /* display: block; */
       /* margin-bottom: .5em; */
       /*...etc...  */
   }
      .copyright{
       width: 60%; /*min-width: 200px; */
   }
}


html {
  font-size: 18px;
  overflow-y: hidden;
}

/* global styles */
body {
  display: inline-block;
  background-color: #eeeeee;
  color: #00000A;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 30px;
  margin: 0 auto;
}

h1 {
  display: block;
  position: relative;
  font-size: 48px;
  font-weight: 700;
  color: #0B1C31;
  text-align: center;
  padding-left: 20px;
  line-height: 1.2;
  line-height: 75%;
  line-height: 2em;
  line-height: normal;
  }

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #0B1C31;
  padding-top: 20px;
  padding-left: 40px;
  line-height: 1.2; /* within paragraph */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h3 {
  display: flex;
  text-align: left;
  position: relative;
  font-size: 24px;
  line-height: 40px;
  color: #0B1C31;
  font-weight: 600;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #0B1C31;
    margin: 0 auto;
    padding: 2.5%;
}

p {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 1.5; /* within paragraph */
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px; /* between paragraphs */
  margin: 40px;
}


img { max-width: 100%; height: auto; }

/*custom  styles */
.topnav {
  overflow: hidden;
  background-color: #eeeeee;
}


.navlist {
  list-style-type: none;
  width: 70%;
  margin: auto;
  padding: 0;
  }

.navlist li {
  display: inline;
}

.navlist a {
  color: #00000A;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 40px;
  margin: 0 auto;
  padding: 2% 2% 2% 2%;
}

/* Style the hamburger menu */
.navlist a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*hero image properties*/
.bgbox {
  position: relative;
  display: inline-block;
}

/*h1 heading style - homepage*/
.heroimage-h1{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
  color: #FFFFFF;
  font: 48px 'Montserrat', Helvetica, Arial, Sans-Serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-top: 2%;
  background-image: url("images/carli-jeen-365-unsplash.jpg") no-repeat center;
}

/*<!-- Intro Description -->*/
.intro-container {
  width: 60%;
  padding: 5% 5% 5% 5%;
  margin: 0 auto;
  }

/*<!--Case Study Intro -->*/
.casestudy-container-fluid {
  background-color: #00004F;
  color: #FFFFFF;
  line-height: 30px;
  max-width: 50%;      /* Changed 700px to 50%. Feel free to play around */
  padding: 5% 5% 5% 5%;
  margin: 0 auto;
}

/*clouddocs-app image properties*/
.clouddocs-app-image {
  width: 90%;
  height:60%;
  padding-bottom:5%;
}

/*clouddocs-logo image properties*/
.clouddocs-logo-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 80px;
  padding-bottom: 5%;
}

/*clouddocs-intro properties*/
.clouddocs-intro {
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 30px;
  padding-bottom: 5%;
}

/*casestudy-button properties*/
.casestudy-button {
    font-size: 18px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: #ac405d;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-weight: bold;
  }

/*let's connect properties*/
.connect {
  margin: 0 auto;
  max-width: 60%;
  padding: 2%;
}

/*Projects page - introduction*/
.intro {
  color: #00000A;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 auto;
}

/*Viewprototype button style*/
.button-wrapper {
  font-size: 18px;
  align-items: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: #19227C;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  }

.section-divider {
  background-color:#AC405D;
  padding: 1%;
  max-height: 4rem;
  margin: 0 auto;
}

/*problem-solution*/
.problemsolution {
  max-width: 60%;
  text-align: left;
  background-color: #00004F;
  color: white;
  margin: 0 auto;
  padding: 1%  1%  1%  1%;
  }

/*CS tools & list*/
.cstools-box {
  background-color: #00004F;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 60%;
  margin: 0 auto;
}

.clouddocs-mainapp-image {
  height: auto;
  padding-bottom: 5%;
  max-width: 100%;
}

.CS-tools-column {
  list-style: none;
  background-color:#524AAC;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  width:30%;
  padding: 2%  2%  2%  2%;
  -moz-columns: 5em;
  -webkit-columns: 5em;
  columns: 5em;
  -webkit-column-gap: 1em;
  -moz-column-gap: 5em;
  column-gap: 5em;
  -webkit-column-rule: 2px;
  -moz-column-rule: 2px;
  column-rule: 2px;
  text-align: left;
  margin: 0 auto;
}

.CS-tools-column h3 {
  display: inline;
  text-align: center;
  padding: 5% 5% 5% 5%;
  }

/* researchdiscovery */
.keyfindings-image {
  margin: 30px;
  max-width: 100%;
  height: auto;
}

.column1{
  display: inline-grid;
  background-color: #524AAC;
  color: #FFFFFF;
  width: 25%;
  margin: 0 auto;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  padding: 1%;
}

.app-list {
  list-style: disc;
  font-size: 16px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  padding-bottom: 4%;
}

/*competitive analysis*/
.ca-container-fluid {
  display: block;
  width: 70%;
  margin: 50px;
  padding: 1%;
}

/* Competitive Analysis*/
.ca-container-fluid {
  display: inline-block;
  margin: 0 auto;
  padding: 2%;
}

.g-d-m-logoimg {
  width: 134px;
  height: 109px;
  margin: 20px;
}

.column {
  float: left;
  width: 33.33%;
  font-size: 16px;
}

/* Content Strategy*/
.cs-container-fluid{
  width: 60%;
  padding: 1%;
  margin: 0 auto;
}

/*Personas*/
.Persona-box {
  background-color: #00004F;
  color: white;
  margin: 0 auto;
  width: 100%;
}

.persona-img {
  padding: 30px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/*user flows -sitemap*/
.userflows-container-fluid {
  width: 65%;
  margin: 0 auto;
}

.userflow-img {
  margin: 20px;
  padding-bottom: 5%;
  width: 80%;
  height: auto;
}

/*user stories*/
.US-column {
  background-color: #524AAC;
  color: #FFFFFF;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 1%;
  padding-left: 1%;
  }

.US-column li {
  list-style: disc;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

/*brand - user testing section*/
.Brand-container-fluid, .usertest-container-fluid {
  max-width: 40%;
  margin: 0 auto;
}

.brand-img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.type-container-fluid {
  padding-top: 2%;
  margin: 0 auto;
}

/*h1 properties*/
.randd-h1, .brand-h1, .prototype-h1, .conclusion-h1 {
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin: 0 auto;
	font-weight: 700;
	font-size: 48px;
	line-height: 42px;
}

/*prototype*/
.prototype-container-fluid {
  background-color: #00004F;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 2%;
  width: 70%;
}

.sketches-img {
  display: inline-block;
  position: relative;
  height: auto;
  max-width: 100%;
  padding-left: 2%;
  padding-bottom: 3%;
  margin: 0 auto;
}

/* Preference Test*/
.usertest-container-fluid h2 {
	font-weight: 600;
	font-size: 36px;
  padding: 2%;
}

.usertest-container-fluid h3 {
  margin: 0 auto;
  padding: 4%;
	font-size: 24px;
  font-weight: 500;
}

.test1, .test2 {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding-top:3%;
  padding-left:3%;
  padding-bottom: 5%;
  margin: 0 auto;
}

/*Hi-fi Prototype*/
.hi-prototype-container-fluid {
  background-color: #00004F;
  color: #FFFFFF;
  line-height: 20px;
	font-weight: normal;
  padding: 2% 5% 2% 5%;
  margin: 0 auto;
}

.hifi-img {
  height: auto;
  max-width: 100%;
  padding-top:2%;
  padding-left:2%;
}

/*finishing touches*/
.finishing-touches-container-fluid {
  display: inline-block;
  background-color: #00004F;
  color: #FFFFFF;
  height: auto;
  max-width: 100%;
  padding: 3%;
  padding-bottom: 3%;
}

.ft-img {
  padding: 2%;
  height: auto;
  max-width: 100%;
}

/*conclusion*/
.conclusion-container-fluid {
  background-color: #00004F;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 2%;
  width: 65%;
}

/*finishing-touches list, conclusion list*/
.column-li{
  text-align: left;
  list-style: disc;
  margin: 0 auto;
  font-size: 14px;
  padding-bottom: 2%;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.conclusion-img {
  padding: 3%;
  height: auto;
  max-width: 100%;
}

/*main text property*/
.main {
  text-align: center;
}

/*---- about-page list styles----*/
.profilepic-img {
  height: auto;
  max-width: 100%;
  padding: 5px;
  margin: 40px;
}

.bio-container h3 {
  font-size: 24px;
  font-weight: 600;
  color: #0B1C31;
}

.bio-container p {
  font-size: 18px;
  font-weight: normal;
}

.project-skills-row h3 {
  text-align: left;
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  padding: 2%;
}

.project-skills-row {
  padding: 2% 1% 2% 1%;
  background-color: #00004F;
  color: white;
  -moz-columns: 1em 3;
  -webkit-columns: 1em 3;
  columns: 1em 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  -webkit-column-rule: 2px;
  -moz-column-rule: 2px;
  column-rule: 2px solid #ddd;
  text-align: left;
  margin: 30px;
}

.experiencelist-column1, .projectlist-column1, .skillslist-column1 {
  list-style: none;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  list-style-image: url("Images\icons8-adobe-photoshop-48.png");
  list-style-image: url("Images\icons8-html-5-48.png");
  list-style-image: url("Images\icons8-css3-48.png");
  list-style-image: url("Images\icons8-javascript-48.png");
  list-style-image: url("Images\icons8-wordpress-48.png");
}

/*footer properties*/
.container-fluid-footer {
  color: #00000A;
  background-color: #E1708A;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  padding: 2% 2% 2% 2%;
  width: 100%;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
  max-width: 900px;
  min-width: 60%;
}

.connect-button {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  background-color: #AC405D;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  margin: 20px auto;
}

.footer-social-icons {
  font-size: 30px;
  color: #00000a;
  margin: auto;
  width: 350px;
}

.container-fluid-footer .footer-social-icons .social-icons {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}

.container-fluid-footer .footer-social-icons .social-icons li {
    display: inline-block;
    padding: 2%;
  }

/* Adds a hover effect */
.fa:hover {
  opacity: 0.7;
}
