
@import url("https://use.fontawesome.com/37471687aa.js");
@import "normalize";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}

.navlist li {
  display: inline;
}

.navlist a {
  color: #00000A;
  display:inline-block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 40px;
  margin: 5px 5px 5px 5px;
  padding: 2% 5% 5% 2%;
}

/*hero image properties*/
.about-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

/*h1 heading style - homepage*/
h1 span {
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    font: 48px 'Montserrat', Helvetica, Arial, Sans-Serif;
    font weight: 400;
    letter-spacing: 1px;
    top: 200px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

/*<!-- Intro Description -->*/
.intro-container-fluid {
  display: grid;
  position: relative;
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 30px;
  width: 70%;
  max-width: 600px;
  padding: 5% 5% 5% 10%;
  }

/*<!--Case Study Intro -->*/
.casestudy-container-fluid {
  position: relative;
  text-align: left;
  background-color: #00004F;
  font color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  max-width: 700px;
  padding: 5% 5% 5% 10%;
}

/*clouddocs-app image properties*/
.clouddocs-app-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
  height:400px;
  padding-bottom:40px;
}

/*clouddocs-logo image properties*/
.clouddocs-logo-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 80px;
  padding left: 80%;
  padding-bottom:40px;
}

/*clouddocs-intro properties*/
.clouddocs-intro{
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 30px;
  margin: 0 auto;
  max-width: 600px;
  font-weight: 400;
}

/*casestudy-button properties*/
.casestudy-button {
    display: flex;
    font-size: 18px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #ac405d;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-decoration: bold;
    position: relative;
  }

/*let's connect properties*/
.connect{
  color: #00004F;
  display: block;
  font-size: 18px;
  line-height: 30px;
  width: 70%;
  max-width: 600px;
  padding: 5% 5% 5% 10%;
}


/* about-page list styles*/

.experiencelist-container {
  position: relative;
  grid-column: span 1;
  display: grid;
  font size: 18px;
  grid: subgrid;
  text-align: left;
  line-height: 30px;
  width: 30%;
  background-color: #00004F;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  padding: 2% 2% 5% 2%;
  box-sizing: border-box;
  color: white;
  height: auto;
}

.projectlist-container {
  position: relative;
  grid-column: span 1;
  display: grid;
  font size: 18px;
  text-align: left;
  line-height: 30px;
  width: 30%;
  background-color: #00004F;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  padding: 2% 2% 5% 2%;
  box-sizing: border-box;
  color: white;
  height: auto;
}

.skillslist-container {
  display: inline-grid;
  position: relative;
  grid-column: span 1;
  font size: 18px;
  grid: subgrid;
  text-align: left;
  line-height: 30px;
  width: 30%;
  background-color: #00004F;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  padding: 2% 2% 2% 5%;
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  color: white;
  height: auto;
  list-style-image: url("Images\icons8-adobe-photoshop-48.png");
  list-style-image: url("Images\icons8-html-5-48.png");
  list-style-image: url("Images\icons8-css3-48.png");
  list-style-image: url("Images\icons8-javascript-48.png");
  list-style-image: url("Images\icons8-wordpress-48.png");

  }

dl{
  display: grid;
  grid-column: span 2;
}

ul {
  display: inline;
  grid: auto-flow / auto 1fr;
}

li {
  grid-column: span 2;
  display: grid;
  font size: 16px;
  grid: subgrid;
}

body {
  background-color:#eeeeee;
  color:#00000A;
  height: 800px;
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: inherit;
  margin: 0 auto;
  width: 80%;
  font-weight: 400;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*Projects - introduction*/
.CSintro-container {
  grid-area: article;
  text-align: left;
  background-color: #eeeeee;
  border-bottom: 1px;
  font color: #00000A;
  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;
}

.clouddocs-mainapp-image {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:600px;
  height:500px;
  padding: 10px, 10px, 10px, 10px;
}

/*Viewprototype button style*/
.button-middle {
  display: flex; /* or inline-flex */
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #19227C;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: bold;
  position: relative;
  height: auto;
  }

.section-divider {
  display: flex;
  background-color:#AC405D;
  padding: 30px, 30px, 30px, 30px;
}

.problemsolution {
  display: block;
  position: relative;
  max-width:600px;
  background-color:#E1708A;
  font-weight: 300;
  color:#0B1C31;
  padding-top: 20px;
  padding-bottom: 30px;
  flex: 0 0 200px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  }

.w3-containerCS {
  display: flex;
  list-style-position: inside;
  position: relative;
  font-size: 14px;
	background-color:#00004F;
  font color: white;
  padding: 10px, 10px, 10px, 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.casestudytools-container {
  background-color:#524AAC;
  color:white;
  padding: 10px, 10px, 10px, 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;



}









h1 {
  position: relative;
  font-size: 48px;
  color: #0B1C31;
  text-align: center;
  padding-left: 20px;
  line-height: 1.2;
  line-height: 75%;
  line-height: 2em;
  line-height: normal;
}

h2 {
  display: flex;
  position: relative;
  font-size: 36px;
  color: #0B1C31;
  text-align: center;
  padding top: 20px;
  padding-left: 40px;
  line-height: 1.2; /* within paragraph */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h3 {
  display: flex;
  font-size: 24px;
  line-height: 40px;
  color: #0B1C31;
  text-align: left;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

  h4 {
    display: flex;
    text-align: center;
    line-height: 20px;
    color: #0B1C31;
    margin-top: 1.2em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

p {
  display: block;
  position: relative;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-style: normal;
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  line-height: 1.5; /* within paragraph */
  text-align: 'left';
  font-weight: 300;
  line-height: 20px;
  font-weight: 500px;
  margin-bottom: 20px; /* between paragraphs */
}

.container-fluid-footer {
    display: flex;
    text-decoration: center;
    color: #00000A;
    background-color:#E1708A;
    padding: 5% 5% 10% 5%;
    }


.p-copyright{
      display: block;
      position: relative;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-style: normal;
      padding-right: 20px;
      padding-left: 40px;
      padding-bottom: 20px;
      line-height: 1.5; /* within paragraph */
      line-height: 20px;
      font-weight: 500px;
      margin-bottom: 20px;
      vertical-align: baseline;
}

.connect-button {
  display: flex;
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: #19227C;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-decoration: bold;
  position: relative;
  margin: 0 auto;
  width:100px;
}

.fa {
    position: flex;
    padding: 2% 5% 10% 5%;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #00000A;
}

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
